:root {
  --primary: rgb(179, 5, 33);
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}
.btn--medium::hover {
  background: #ffff;
  color: lightgray;
  transition: 250ms;
}
