.form-group {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-items: center;
}

.btn-submit[type="submit"] {
  width: 20%;
  background-color: rgb(179, 5, 33);
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.btn-submit[type="submit"]:hover {
  background-color: rgba(179, 5, 34, 0.74);
}
